.ea1163d21f {
  color: var(--bui_color_foreground_alt);
}
.bc6c5feac2 {
  text-align: center;
  white-space: nowrap;
}
.e8e856c3e0 {
  color: inherit;
}
.bd4974e1a6 li,
.bd4974e1a6 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bd4974e1a6 {
  padding-bottom: calc(var(--bui_spacing_1x) * 20);
  padding-top: calc(var(--bui_spacing_1x) * 10);
}
.a448481077 {
  margin-left: calc(var(--bui_spacing_3x) * -1);
  margin-right: calc(var(--bui_spacing_3x) * -1);
}
.cf67405157 {
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
}
.ec2bd543aa {
  width: auto;
}
.be6d88fee8 {
  padding: var(--bui_spacing_4x) var(--bui_spacing_6x) var(--bui_spacing_3x);
}
.c1d3f059d6 {
  border: var(--bui_border_width_100) solid var(--bui_color_border_alt);
}
.feb14e4dac li,
.feb14e4dac ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feb14e4dac {
  padding-bottom: calc(var(--bui_spacing_1x) * 20);
  padding-top: calc(var(--bui_spacing_1x) * 10);
}
.ee2024cdb7 {
  padding: var(--bui_spacing_4x) var(--bui_spacing_6x) var(--bui_spacing_3x);
}
.c55c36cfa7 img {
  width: 150px;
}
.dc194628dd {
  padding-bottom: calc(var(--bui_spacing_1x) * 20);
  padding-top: var(--bui_spacing_1x);
}
.dc194628dd a:link {
  font-weight: 400;
  text-decoration: none;
}
.dc194628dd button {
  font-weight: 400 !important;
}
.e56c827729 li,
.e56c827729 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.e56c827729 {
  padding-bottom: calc(var(--bui_spacing_1x) * 20);
  padding-top: calc(var(--bui_spacing_1x) * 10);
}
.dc6e98b2f4 {
  color: var(--bui_color_accent_foreground);
}
.f10427ad2c {
  text-align: left;
}
.b4ea8459d6 {
  background: var(--bui_color_brand_primary_background_dynamic);
  color: var(--bui_color_on_brand_primary_background_dynamic);
}
.b4ea8459d6.ddd5130c85 {
  background: transparent;
  color: var(--bui_color_white);
}
.c20fd9b542 {
  align-items: center;
  display: flex;
  padding: var(--bui_spacing_2x) var(--bui_spacing_4x);
}
.f61b048379 {
  padding: 0 var(--bui_spacing_4x) var(--bui_spacing_2x);
}
.f9966e6860 {
  flex-grow: 1;
  padding: var(--bui_spacing_2x) var(--bui_spacing_4x) var(--bui_spacing_2x) 0;
}
.a945757098 img,
.a945757098 svg {
  display: block;
  height: calc(var(--bui_spacing_1x) * 5);
}
@media (min-width: 1024px) {
  .a945757098 img,
  .a945757098 svg {
    height: calc(var(--bui_spacing_1x) * 6);
  }
  .c20fd9b542,
  .f61b048379 {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--bui_container);
  }
  .c20fd9b542 {
    padding: var(--bui_spacing_3x) var(--bui_spacing_8x) var(--bui_spacing_2x);
  }
  .f61b048379 {
    padding-bottom: var(--bui_spacing_3x);
  }
}
.c44fb04555 {
  background-color: #fff;
}
:root {
  --bui_z_index_0: 0;
  --bui_z_index_1: 100;
  --bui_z_index_2: 200;
  --bui_z_index_3: 300;
  --bui_z_index_4: 400;
  --bui_easing-slow-in: cubic-bezier(0, 0, 0.2, 1);
  --bui_easing-slow-out: cubic-bezier(0.4, 0, 1, 1);
  --bui_easing-slow-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --bui_easing-subtle-in: cubic-bezier(0, 0, 0.2, 1);
  --bui_easing-subtle-out: cubic-bezier(0.4, 0, 1, 1);
  --bui_easing-subtle-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --bui_easing-bounce-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --bui_easing-bounce-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --bui_timing-instant: 100ms;
  --bui_timing-fast: 150ms;
  --bui_timing-deliberate: 250ms;
  --bui_timing-slow: 300ms;
  --bui_timing-slower: 600ms;
  --bui_timing-slowest: 1000ms;
  --bui_timing-paused: 1600ms;
  --bui_color_destructive_dark: #a30000;
  --bui_color_destructive: #c00;
  --bui_color_destructive_light: #fcb4b4;
  --bui_color_destructive_lighter: #ffebeb;
  --bui_color_destructive_lightest: #fff0f0;
  --bui_color_callout_dark: #bc5b01;
  --bui_color_callout: #ff8000;
  --bui_color_callout_light: #ffc489;
  --bui_color_callout_lighter: #fff0e0;
  --bui_color_callout_lightest: #fff8f0;
  --bui_color_complement_dark: #cd8900;
  --bui_color_complement: #febb02;
  --bui_color_complement_light: #ffe08a;
  --bui_color_complement_lighter: #fdf4d8;
  --bui_color_complement_lightest: #fefbf0;
  --bui_color_constructive_dark: #006607;
  --bui_color_constructive: #008009;
  --bui_color_constructive_light: #97e59c;
  --bui_color_constructive_lighter: #e7fde9;
  --bui_color_constructive_lightest: #f1fef2;
  --bui_color_primary_dark: #00224f;
  --bui_color_primary: #003580;
  --bui_color_primary_light: #bad4f7;
  --bui_color_primary_lighter: #ebf3ff;
  --bui_color_primary_lightest: #fafcff;
  --bui_color_grayscale_dark: #333;
  --bui_color_grayscale: #6b6b6b;
  --bui_color_grayscale_light: #bdbdbd;
  --bui_color_grayscale_lighter: #e6e6e6;
  --bui_color_grayscale_lightest: #f5f5f5;
  --bui_color_black: #000;
  --bui_color_white: #fff;
  --bui_color_action_dark: #005c9d;
  --bui_color_action: #0071c2;
  --bui_color_action_light: #a3d7fc;
  --bui_color_action_lighter: #e4f4ff;
  --genius_color_primary: #004cb8;
  --bui_baseline: 24px;
  --bui_padding: 12px;
  --bui_negative_padding: -12px;
  --bui_medium_breakpoint: 576px;
  --bui_large_breakpoint: 1024px;
  --bui_huge_breakpoint: 1280px;
  --bui_container: 1140px;
  --bui_animation_duration: 0.15s;
  --z_index_0: 0;
  --z_index_1: 100;
  --z_index_2: 200;
  --z_index_3: 300;
  --z_index_4: 400;
  --bui_depth_0_box_shadow: none !important;
  --bui_depth_1_box_shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 3px -1px rgba(0, 0, 0, 0.2);
  --bui_depth_2_box_shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --bui_depth_3_box_shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.12),
    0 5px 6px -3px rgba(0, 0, 0, 0.2);
  --bui_depth_4_box_shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --bui_font_smaller_size: 12px;
  --bui_font_smaller_line_height: 18px;
  --bui_font_small_size: 14px;
  --bui_font_small_line_height: 20px;
  --bui_font_medium_size: 16px;
  --bui_font_medium_line_height: 24px;
  --bui_font_large_size: 20px;
  --bui_font_large_line_height: 28px;
  --bui_font_larger_size: 24px;
  --bui_font_larger_line_height: 32px;
  --bui_font_largest_size: 32px;
  --bui_font_largest_line_height: 40px;
  --bui_font_weight_normal: 400;
  --bui_font_weight_medium: 500;
  --bui_font_weight_bold: 700;
  --bui_font_stack_sans: "BlinkMacSystemFont", -apple-system, "Segoe UI",
    "Roboto", "Helvetica", "Arial", sans-serif;
  --bui_font_stack_serif: "Georgia", serif;
  --bui_font_stack_mono: "Monaco", "Courier New", monospace;
  --bui_font_stack_arabic: "Geeza Pro", "Tahoma", var(--bui_font_stack_sans);
  --bui_unit_value: 8;
  --bui_unit_smaller: 2px;
  --bui_unit_small: 4px;
  --bui_unit_medium: 8px;
  --bui_unit_large: 16px;
  --bui_unit_larger: 24px;
  --bui_unit_largest: 32px;
}
.web-shell-header-mfe a:active,
.web-shell-header-mfe a:hover,
.web-shell-header-mfe a:link,
.web-shell-header-mfe a:visited {
  font-weight: var(--bui_font_weight_medium);
}
[data-testid="header-mobile-menu-modal"] a:active,
[data-testid="header-mobile-menu-modal"] a:hover,
[data-testid="header-mobile-menu-modal"] a:link,
[data-testid="header-mobile-menu-modal"] a:visited,
[data-testid="header-mobile-profile-modal"] a:active,
[data-testid="header-mobile-profile-modal"] a:hover,
[data-testid="header-mobile-profile-modal"] a:link,
[data-testid="header-mobile-profile-modal"] a:visited,
[data-testid="header-profile-menu"] a:active,
[data-testid="header-profile-menu"] a:hover,
[data-testid="header-profile-menu"] a:link,
[data-testid="header-profile-menu"] a:visited {
  color: var(--bui_color_foreground);
  font-weight: var(--bui_font_weight_normal);
  text-decoration: none;
}
[data-testid="header-mobile-menu-currency-picker-modal"] button,
[data-testid="header-mobile-menu-language-picker-modal"] button,
[data-testid="header-mobile-menu-modal"] button,
[data-testid="header-mobile-profile-modal"] button {
  font-weight: var(--bui_font_weight_normal) !important;
}
/*# sourceMappingURL=https://s3-main-01.booking.com/internal-static/capla/static/css/93.22edeb57.chunk.css.map*/
